@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    list-style: none;

}


header{


        height: 100vh;
        position: relative;
        padding-top: 16.8rem;
        padding-left:6.8rem ;
        
        

}
            /*Pseu do elemnento*/
        header::before{
                display:block ;
                content: '';
                background-image: url(/assests/img/fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg);
                background-size: cover;
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
        }


h1{
    
    color: #fff;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.68);
    font-size: 4rem;
    font-family: 'Lalezar', cursive;
    


}

span {

    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.96);
    font-size: 2rem;
    font-family: 'Lalezar', cursive;
}

.botao{
    color: rgb(255, 255, 255);
    padding: .25rem 1rem;
    gap: 15rem;
    border-radius: 4px;
    background: #4AABE1;
    font-family: sans-serif;
    text-decoration: none;
    transition: background-color 1s;
  
}

.botao:hover{
    background-color: #3680a8;
}


    .flex{

        display: flex;
        align-items: center;
        margin: 10px;
        margin-top: 15px;
    }
#eu{
    width: 400px;
    height: 400px;
    max-width: 100%;
    border-radius: 100%;
}

.flex > div {
    flex: 1 1 200px;
}

#secao-projeto{

    height: 100vh;
    background-color: rgb(22, 22, 22);

    
}

.card{
    max-width: 280px;
    height: 380;
    position: relative;
    cursor: pointer;
}

.card:hover .card-content {
    opacity: 1;
    transform: translateY(0);
}

#secao-projeto ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}


.card-image-wrapper{
    height: 380px;
    width: 100%;
   overflow: hidden;
   object-fit: cover;/*contendo imagem*/
   border-radius: 1rem;
   }

   .card-content{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 25%;
    left: .5rem;
    opacity: 0;
    transform: translateY(2rem);
    transition: opacity 1s, transform 1s;

   }

.card h2{
color: #FFF;
font-size: 1.5rem;
}

.card h3{
color: rgb(193, 192, 211);

}

.card p{
    color: #fff;
}


