@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
*{
    margin: 0;


}


header{


        height: 100vh;
        position: relative;
        padding-top: 16.8rem;
        padding-left:6.8rem ;
        
        

}
            /*Pseu do elemnento*/
        header::before{
                display:block ;
                content: '';
                background-image: url(/assests/img/fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg);
                background-size: cover;
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
        }


h1{
    
    color: #fff;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.68);
    font-size: 4rem;
    font-family: 'Lalezar', cursive;
    


}

span {

    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.96);
    font-size: 2rem;
    font-family: 'Lalezar', cursive;
}

.botao{
    color: rgb(255, 255, 255);
    display: inline-flex;
    padding: 4px 16px;
    align-items: flex-end;
    gap: 9px;
    border-radius: 5px;
    background: #4AABE1;
    font-family: sans-serif;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 7%;
}